body {
  margin: 0;
  background: #ffffff;
  color: #333;
}
/*-------------cabecera*/

.channel-header {
  background-color: white;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.channel-banner {
  width: 100%;
  aspect-ratio: 100 / 16.53;
  object-fit: cover;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -20px;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;
}
.profile h2 {
  font-size: 22px;
  margin: 0;
}
.profile div a {
  text-decoration: none;
  color: #000000;
}
.profile div a:hover {
  text-decoration: underline;
  color: #000000;
}
.stats {
  font-size: 15px;
  color: rgb(94, 94, 94);
  margin-top: 5px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background-color: #cc0000;
}

@media (max-width: 600px) {
  .profile h2 {
    font-size: 19px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .stats {
    font-size: 12px;
    color: rgb(94, 94, 94);
    margin-top: 5px;
  }
  .subscribe-btn {
    padding: 6px 10px;
    font-size: 11px;
    border-radius: 8px;
    margin-right: 15px;
  }
}

.pf-data {
  width: 75%;
}

/*------GALERIA*/

/*.video-gallery {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.video-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.video-card:hover {
  transform: translateY(-4px);
}

.video-card img {
  width: 100%;
  display: block;
}

.video-card .info {
  padding: 1rem;
}

.video-card .title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.video-card .meta {
  font-size: 0.875rem;
  color: #666;
}
*/
